Corso CSharp/Hello/bin/Debug/Hello.exe.config
Corso CSharp/Hello/bin/Debug/Hello.vshost.exe.config
Corso CSharp/Hello/bin/Debug/Hello.vshost.exe.manifest
Corso CSharp/Hello/obj/Debug/Hello.csproj.FileListAbsolute.txt
Corso CSharp/Hello/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Corso CSharp/Hello/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Corso CSharp/Hello/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Corso CSharp/Hello/Properties/AssemblyInfo.cs
